{% extends 'base.html' %}
{% load static %}
{% block listado_clientes %}


<div class="container text-center">
    <h1 class="h1-listado">Listado Clientes</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3 d-flex justify-content-center align-items-center mt-5"></div>
        {% for cliente in clientes %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5>{{cliente.nombre}} {{cliente.apellido}}</h5>
                        <p>{{cliente.email}}</p>
                        <p>{{cliente.pais}}</p>
                        <p>{{cliente.edad}} años</p>
                        <p>{{cliente.hobby}}</p>
                    </div>
                    <div class="container align-content-center">
                        <a class ="btn btn-primary w-25 mb-2" href="{% url 'cliente-update' pk=cliente.id%}">Actualizar Cliente</a>
                    </div>
                </div>
                
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<!-- Footer -->
<footer id="footer-landing" class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#">TeLoVendo</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}
