{% extends 'base.html' %}
{% load static %}
{% block listado_clientes %}

<div class="container text-center">
    <h1 class="h1-listado">Listado Clientes</h1>
    <div class="row row-cols-1 row-cols-md-3 d-flex">
        {% for cliente in clientes %}
        <div class="col mb-4 d-flex">
            <div class="card flex-fill">
                <div class="card-body">
                    <h5 class="card-title">{{cliente.nombre}} {{cliente.apellido}}</h5>
                    <p class="card-text">{{cliente.email}}</p>
                    <p class="card-text">{{cliente.pais}}</p>
                    <p class="card-text">{{cliente.edad}} años</p>
                    <p class="card-text">{{cliente.hobby}}</p>
                </div>
                <div class="container align-content-center">
                    <a class="btn btn-primary w-100 mb-2"
                        href="{% url 'cliente-update' pk=cliente.id%}">Actualizar
                        Cliente</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div><div class="row row-cols-1 row-cols-md-3 d-flex">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block footer %}
<!-- Footer -->
<footer id="footer-landing" class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#">TeLoVendo</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}
