{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% include 'messages.html' %}

{% block perfil %}
    <div class="container align-content-centert justify-content-center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Datos del usuario: {{user.username}}</h2>
            <div class="form-group">
                {{formulario_usuario|crispy}}
            </div>

            <h1>{{user.perfil}}</h2>
            <div class="form-group">
                {{formulario_perfil|crispy}}
            </div>
            <button type="submit" class="btn btn-primary mt-3">Actualizar Datos</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
<!-- Footer -->
<footer id="footer-landing" class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-google"></i></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="#!"
                role="button"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="#">TeLoVendo</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}