#carrusel-img{
    margin-top: 100px;
    padding-top: 100px;
}

body {
    background-color: rgb(205, 225, 230);
    font-family: 'Nunito', sans-serif;
}

.card {
    transition: tranform 0.2s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
